############################################
## By default allow all access

    Order allow,deny
    Allow from all

## uncomment to turn off zlib compression, double compression of files results in garbage output
## depending on server setup, alternatively you might need to create a php.ini in this folder with zlib.output_compression = off

    #php_flag zlib.output_compression off
