<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_Speedster>
            <version>3.0.14</version>
        </Fooman_Speedster>
    </modules>
    <global>
        <models>
            <speedster>
                <class>Fooman_Speedster_Model</class>
            </speedster>
        </models>
        <helpers>
            <speedster>
                <class>Fooman_Speedster_Helper</class>
            </speedster>
        </helpers>
        <blocks>
            <speedster>
                <class>Fooman_Speedster_Block</class>
            </speedster>
            <page>
                <rewrite>
                    <html_head>Fooman_Speedster_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <page_head>Fooman_Speedster_Block_Adminhtml_Page_Head</page_head>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <speedster_setup>
                <setup>
                    <module>Fooman_Speedster</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </speedster_setup>
            <speedster_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </speedster_write>
            <speedster_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </speedster_read>
        </resources>
    </global>
    <default>
        <foomanspeedster>
            <settings>
                <enabled>0</enabled>
            </settings>
        </foomanspeedster>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Fooman_Speedster />
            </modules>
        </suite>
    </phpunit>
</config>
