<?xml version="1.0"?>
<!--
/*
 * @author     Kristof Ringleff
 * @package    Fooman_Common
 * @copyright  Copyright (c) 2009 Fooman Limited (http://www.fooman.co.nz)
 */
 -->
<config>
    <modules>
        <Fooman_Common>
            <version>1.1.14</version>
        </Fooman_Common>
    </modules>
    <global>
        <blocks>
            <foomancommon>
                <class>Fooman_Common_Block</class>
            </foomancommon>
        </blocks>
        <models>
            <foomancommon>
                <class>Fooman_Common_Model</class>
            </foomancommon>
        </models>
        <helpers>
            <foomancommon>
                <class>Fooman_Common_Helper</class>
            </foomancommon>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foomancommon after="Mage_Adminhtml">Fooman_Common_Adminhtml</foomancommon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <layout>
            <updates>
                <foomancommon>
                    <file>fooman_common.xml</file>
                </foomancommon>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <foomancommon translate="title" module="foomancommon">
                            <title>Fooman Selftests</title>
                            <sort_order>-100</sort_order>
                        </foomancommon>                        
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <foomancommon translate="title" module="foomancommon">
                                            <title>Fooman</title>
                                            <sort_order>50</sort_order>
                                        </foomancommon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>